
.banner{
  
    height: 223px;
    width: 93%;  
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 48px;
    margin: auto; 
    margin-bottom: 20px;
} 

