@import './index.scss';
.infoSite .critere {
    @include infoBar  
}
.infoSite .infoZone {
    width: 70%;
    height: 50px;
    text-align:justify;
    
}
.infoSite {
   display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infoSite .btnFleche{
    @include btnFleche 
}
