@import './index.scss';

.errorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}


.error{ 
   color: $color-primary;
   font-size:288px;
}
.errorContainer h2{
    color: $color-primary;
   
}
.errorContainer a{ 
    font-size: small;
    color: black;
}

@media (max-width: 767.98px) and (min-width:320px){
    .errorContainer h2{
        font-size: medium;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-top: 50px;
       
    }
    .errorContainer div{
        font-size: 96px;
        margin-top: 50px;
       
    }
    .errorContainer{
        margin-bottom: 40px;
    }
}