@import './index.scss';

.showPhoto {
    display: flex;
    flex-direction: row;

}
.showPhoto img{
    width: 86%;
    height: 415px; 
    margin: auto;
    align-items: center;
}
.showPhoto .btnGauche {
    color: azure;
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 11%;
}
.showPhoto .btnDroite {
    color: azure;
    font-size: 60px;
    position: absolute;
    top: 40%;
    right: 11%; 
}

.showPhoto .numeroPhoto{
    position: absolute;
    bottom: 34%;
    left: 50%;
    color: azure;
}


@media (max-width: 767.98px) and (min-width:320px){

    .showPhoto img{
        width: 89%;
        height: 255px;
    }
    .showPhoto .btnGauche {
        font-size: medium;
    }
    .showPhoto .btnDroite{
        font-size: medium;
    }
    .showPhoto .numeroPhoto{
        display: none;
    }

   
}


